.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.ContactData input {
    display: block;
    margin: auto;
}

@media (min-width: 500px) and (min-height: 400px) {
    .ContactData {
        width: 350px;
        height: 300px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .ContactData {
        width: 450px;
        height: 400px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .ContactData {
        width: 700px;
        height: 600px;
    }
}